<header>
  <h1 class="headline">Books</h1>
</header>

<main>
  <h4>Title</h4>
  <h4>Body</h4>
  <% @books.each do |book| %>
    <div class="box">
      <div class="title"><%= book.title %></div>
      <div class="body"><%= book.body %></div>
      <div class="nav"></div>
    </div>
  <% end %>
</main>

<div class="post">
  <h2>New book</h2>
  <%= form_with model:@book, local:true do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Body</h4>
    <%= f.text_area :body %>
    <div>
      <%= f.submit 'Create Book' %>
    </div>
  <% end %>
</div>