<div class="show-box">
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <div>
    <p>
      Title:<%= @book.title %>
    </p>
    <p class="show">
      Body:<%= @book.body %>
    </p>
  </div>
</div>
<div class="show">
  <%= link_to "Edit", edit_book_path(@book), class:"link" %> | <%= link_to "Back", books_path, class:"link" %>
</div>


